.DS_Store
.dart_tool/

.packages
.pub/

.idea/
.idea/workspace.xml

build/

android/.settings/org.eclipse.buildship.core.prefs
example/android/app/.settings/org.eclipse.jdt.core.prefs
example/android/.settings/org.eclipse.buildship.core.prefs